@import url(reset.css);
@import url(../icons/style.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --graylight: #f3f3f3;
  --gray: #d5d5d5;
  --graydark: #828282;
  --bluelight: #77a6f1;
  --blue: #4285f4;
  --greenlight: #cde5d3;
  --green: #34a853;
}

a {
  color: black;
  text-decoration: none;
}
input,
button {
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}
body {
  height: 100%;
  background-color: var(--graydark);
}
.container {
  margin: 0 auto;
  height: 100vh;
  max-width: 700px;
  background-color: var(--graylight);
}
.searchbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
}
h1 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
form {
  margin: 30px;
  margin-bottom: 0;
  position: relative;
  display: flex;
  justify-content: end;
}
form input {
  width: calc(100% - 25px);
  padding: 10px 15px;
  border-radius: 10px 0 0 10px;
  color: white;
  background-color: var(--bluelight);
}
form input::placeholder {
  color: rgba(255, 255, 255, 0.705);
  background-color: var(--bluelight);
  opacity: 0.8;
}
button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  font-size: 35px;
  color: white;
  border-radius: 30%;
  background-color: var(--blue);
}
main {
  margin: 30px;
}
main h2 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
main ul li {
  position: relative;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 50px;
}
main ul li a {
  display: block;
  padding: 15px 40px;
}

.checkmarkicon {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 22px;
  color: var(--gray);
}
.checked {
  background-color: var(--greenlight);
  border-radius: 50px;
}
.checked .checkmarkicon {
  color: var(--green);
}
.checked span {
  text-decoration: line-through;
}
